.form {
  position: relative;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  position: absolute;
  left: 25%;
}

.primary-color {
  color: #81c784;
  font-weight: 400;
}
