.secondary-color {
  color: #004d40;
  font-weight: 400;
}

.position {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-bottom: 10px;
}

i.fa-bars {
  color: #004d40;
}

.menu {
  padding-top: 10px;
  padding-right: 300px;
}
